---
import type { Certification } from '../config/config';
import ProjectsTech from './ProjectsTech.astro';

type Props = {
    certification: Certification;
}

const { certification } = Astro.props;

---
<article class="mt-6 mb-12 text-white flex flex-col justify-center">
    <h4 class="text-xl relative font-semibold text-orange-400">{certification.courseName}</h4>
    <h3 class="text-lg font-semibold text-orange-200">{certification.company}</h3>
    <p class="text-sm mb-2 text-slate-300">{certification.year}</p>
    <p class="mb-3 text-sm text-pretty">{certification.description}</p>
    <ul class="flex flex-wrap items-start gap-4 mb-4 mt-2">
        {certification.technologies.map(tech => (
            <li>
                <ProjectsTech 
                    name={tech.name} 
                    icon={tech.icon} 
                />
            </li>
        ))}
    </ul>
</article>

