---
import type { Project } from '../config/config';
import { Image } from 'astro:assets';
import ReactIcon from './icons/ReactIcon.astro';
import TypescriptIcon from './icons/TypescriptIcon.astro';
import ProjectsTech from './ProjectsTech.astro';
import JavascriptIcon from './icons/JavascriptIcon.astro';
import AstroIcon from './icons/AstroIcon.astro';
import BoostrapIcon from './icons/BoostrapIcon.astro';
import CSSIcon from './icons/CSSIcon.astro';
import FlaskIcon from './icons/FlaskIcon.astro';
import HTMLIcon from './icons/HTMLIcon.astro';
import SQLAlchemyIcon from './icons/SQLAlchemyIcon.astro';
import TailwindIcon from './icons/TailwindIcon.astro';

type Props = {
  project: Project;
}

const { project  } = Astro.props;
---

<article class="mb-20 mt-10 text-white flex flex-col justify-center">
    <h4 class="text-xl relative font-semibold text-orange-400">{project.projectName}</h4>
    <p class="text-pretty text-slate-300 mb-2">{project.description}</p>
    <h3 class="text-orange-200">Tecnologias:</h3>
    <ul class="flex flex-wrap items-start gap-4 mb-4 mt-2">
        {project.technologies.map(tech => {
            return (
                <li>
                    <ProjectsTech 
                        name={tech.name} 
                        icon={tech.icon} 
                    />
                </li>
                );
          })}
    </ul>
    <Image class="h-auto w-auto rounded shadow-2xl shadow-white/10 object-cover" src={project.img} loading="lazy" alt="Imagen Proyecto" width="300" height="300"/>
</article>