---
import SkillsCard from "./SkillsCard.astro"
import SQLAlchemyIcon from "./icons/SQLAlchemyIcon.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import BoostrapIcon from "./icons/BoostrapIcon.astro"
import CSSIcon from "./icons/CSSIcon.astro"
import HTMLIcon from "./icons/HTMLIcon.astro"
import JavascriptIcon from "./icons/JavascriptIcon.astro"
import PythonIcon from "./icons/PythonIcon.astro"
import ReactIcon from "./icons/ReactIcon.astro"
import TailwindIcon from "./icons/TailwindIcon.astro"
import TypescriptIcon from "./icons/TypescriptIcon.astro"
import GitIcon from "./icons/GitIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import VisualStudioIcon from "./icons/VisualStudioIcon.astro";
import FlaskIcon from "./icons/FlaskIcon.astro";
import NodeJSIcon from "./icons/NodeJSIcon.astro";
import { iconStyles } from "../styles/styles";
---
<h3 class="mb-2 text-xl lg:ms-7 text-orange-400">Tecnológicas:</h3>
<section class="flex gap-5 lg:ms-6 mb-14 flex-col">
    <div class="flex gap-2 lg:ms-1 flex-col items-start justify-between">
        <h4 class="text-orange-200">Desarrollo Backend:</h4>
        <div class="flex gap-x-4 lg:ms-1 flex-wrap items-center">
            <SkillsCard classes={iconStyles.PythonIcon} logoName="Python">
                <PythonIcon size="40"/>
            </SkillsCard>
            <SkillsCard classes={iconStyles.NodeJSIcon} logoName="NodeJS">
                <NodeJSIcon size="40"/>
            </SkillsCard>
        </div>
    </div>
    <div class="flex gap-2 lg:ms-1 flex-col items-start justify-between">
        <h4 class="text-orange-200">Desarrollo Frontend:</h4>
        <div class="flex gap-x-4 lg:ms-1 flex-wrap items-center">
            <SkillsCard classes={iconStyles.JavascriptIcon}  logoName="Javascript">
                <JavascriptIcon size="40"/>
            </SkillsCard>
            <SkillsCard classes={iconStyles.TypescriptIcon}  logoName="Typescript">
                <TypescriptIcon size="40"/>
            </SkillsCard>
            <SkillsCard classes={iconStyles.HTMLIcon}  logoName="HTML">
                <HTMLIcon size="40"/>
            </SkillsCard>
            <SkillsCard classes={iconStyles.CSSIcon} logoName="CSS">
                <CSSIcon size="40"/>
            </SkillsCard>
        </div>
    </div>
    <div class="flex gap-2 lg:ms-1 flex-col items-start justify-between">
        <h4 class="text-orange-200">Bibliotecas o Frameworks:</h4>
        <div class="flex gap-x-4 lg:ms-1 flex-wrap items-center">
            <SkillsCard classes={iconStyles.FlaskIcon}  logoName="Flask">
                <FlaskIcon size="40"/>
            </SkillsCard>
            <SkillsCard classes={iconStyles.SQLAlchemyIcon} logoName="SQL Alchemy">
                <SQLAlchemyIcon size="40"/>
            </SkillsCard>
            <SkillsCard classes={iconStyles.AstroIcon} logoName="Astro">
                <AstroIcon size="40"/>
            </SkillsCard>
            <SkillsCard classes={iconStyles.ReactIcon} logoName="React">
                <ReactIcon size="40"/>
            </SkillsCard>
            <SkillsCard classes={iconStyles.TailwindIcon} logoName="Tailwind">
                <TailwindIcon size="40"/>
            </SkillsCard>
            <SkillsCard classes={iconStyles.BoostrapIcon} logoName="Boostrap">
                <BoostrapIcon size="40"/>
            </SkillsCard>
        </div>
    </div>
    <div class="flex gap-2 lg:ms-1 flex-col items-start justify-between">
        <h4 class="text-orange-200">Herramientas:</h4>
        <div class="flex gap-x-4 lg:ms-1 flex-wrap items-center">
            <SkillsCard classes={iconStyles.GitIcon} logoName="Git">
                <GitIcon size="40"/>
            </SkillsCard>
            <SkillsCard classes={iconStyles.GithubIcon} logoName="Github">
                <GithubIcon size="40"/>
            </SkillsCard>
            <SkillsCard classes={iconStyles.VisualStudioIcon} logoName="VS Code">
                <VisualStudioIcon size="40"/>
            </SkillsCard>
        </div>
    </div>
</section>